<ion-view view-title="Sessions">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="session in sessions"
                href="#/app/sessions/{{session.id}}">{{session.title}}</ion-item>
      </ion-list>
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="First Name">
          </label>
          <button class="button button-positive" ng-click="wasClicked()">
              button-positive
          </button>
      </div>
  </ion-content>
</ion-view>
